Task5/ASMX/ConsoleApp1/Web References/localhost/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetLaptopJSON">
        <s:complexType />
      </s:element>
      <s:element name="GetLaptopJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLaptopJSONResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetpendriveJSON">
        <s:complexType />
      </s:element>
      <s:element name="GetpendriveJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetpendriveJSONResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetmouseJSON">
        <s:complexType />
      </s:element>
      <s:element name="GetmouseJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetmouseJSONResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetLaptopJSONSoapIn">
    <wsdl:part name="parameters" element="tns:GetLaptopJSON" />
  </wsdl:message>
  <wsdl:message name="GetLaptopJSONSoapOut">
    <wsdl:part name="parameters" element="tns:GetLaptopJSONResponse" />
  </wsdl:message>
  <wsdl:message name="GetpendriveJSONSoapIn">
    <wsdl:part name="parameters" element="tns:GetpendriveJSON" />
  </wsdl:message>
  <wsdl:message name="GetpendriveJSONSoapOut">
    <wsdl:part name="parameters" element="tns:GetpendriveJSONResponse" />
  </wsdl:message>
  <wsdl:message name="GetmouseJSONSoapIn">
    <wsdl:part name="parameters" element="tns:GetmouseJSON" />
  </wsdl:message>
  <wsdl:message name="GetmouseJSONSoapOut">
    <wsdl:part name="parameters" element="tns:GetmouseJSONResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="GetLaptopJSON">
      <wsdl:input message="tns:GetLaptopJSONSoapIn" />
      <wsdl:output message="tns:GetLaptopJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetpendriveJSON">
      <wsdl:input message="tns:GetpendriveJSONSoapIn" />
      <wsdl:output message="tns:GetpendriveJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetmouseJSON">
      <wsdl:input message="tns:GetmouseJSONSoapIn" />
      <wsdl:output message="tns:GetmouseJSONSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLaptopJSON">
      <soap:operation soapAction="http://tempuri.org/GetLaptopJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetpendriveJSON">
      <soap:operation soapAction="http://tempuri.org/GetpendriveJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetmouseJSON">
      <soap:operation soapAction="http://tempuri.org/GetmouseJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLaptopJSON">
      <soap12:operation soapAction="http://tempuri.org/GetLaptopJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetpendriveJSON">
      <soap12:operation soapAction="http://tempuri.org/GetpendriveJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetmouseJSON">
      <soap12:operation soapAction="http://tempuri.org/GetmouseJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44351/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44351/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>